:root{
    --water-color: #00A6D6;
    --land-color: #6CC24A;
    --marker-color: #ffB81C;
    --delft-marker-color: #EC6842;
    --progress-bar-popup-color: #e9ecef;
    --white-color: #f8f9fa;
    --black-color: #2f3e46;
}