#search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed; 
  width: 100%;
  margin: 0px auto; 
  top: 70px;
  z-index: 10;
  font-size: 0.7rem;
}

#search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  font-size: 0.7rem;
}

.dropdown {
  display: none;
  width: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  max-height: 150px;
  overflow-y: scroll;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-item {
  cursor: pointer;
  padding: 10px;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

@media (max-width: 600px) {
  .dropdown {
    max-height: 30vh;
  }
}