.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    padding: 20px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.vehicles {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.vehicle {
    padding: 0;
    margin-top: 30px;
    width: 90%;
}

.vehicle-type {
    padding-bottom: 2px;
    border-bottom: 1px solid #000;
    font-size: 1rem;
    padding-right: 30px;
    position: relative;
}

.vehicle-icon {
    position: absolute;
    right: 0;
    bottom: -10px;
    height: auto;
}

.plane-icon {
    margin-bottom: 6px;
    width: 40px;
}

.train-icon {
    margin-bottom: 3px;
    width: 31.5px;
}

.bus-icon {
    width: 38px;
}

.time {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.time-icon {
    width: 25px;
    height: auto;
    margin-right: 10px;
}

.time-text {
    font-size: 0.8rem;
    color: #333;
}

.carbon {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.carbon-icon {
    height: auto;
    margin-right: 10px;
}

.carbon-amount {
    width: 100%;
    background-color: #2a6f97;
    border-radius: 30px;
    color: #fff;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.carbon-text {
    font-size: 0.8rem;
}

.progress-border {
    width: 100%;
    background-color: #e9ecef;
    border: 1px solid #2a6f97;
    border-radius: 20px;
    height: 30px;
    font-size: 0.8rem;
}

.progress-done {
    color: #fff;
    height: auto;
    background: #2a6f97;
    border-radius: 20px;
    height: 30px;
    display: grid;
    place-items: center;
    width: 0;
    transition: width .5s ease;
    border: 2px;
}

@media (max-width: 600px) {
    .vehicles {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }

    .vehicle {
        width: 100%;
        margin-bottom: 50px;
    }
}