@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html{
    font-size: 26px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.light-text {
    font-weight: 100;
}

.medium-light-text {
    font-weight: 300;
}

.normal-text {
    font-weight: 400; /* Standaard */
}

.medium-text {
    font-weight: 500;
}

.bold-text {
    font-weight: 700;
}

.extra-bold-text {
    font-weight: 900;
}

.italic-text {
    font-style: italic;
}

.light-italic-text {
    font-weight: 100;
    font-style: italic;
}

.bold-italic-text {
    font-weight: 700;
    font-style: italic;
}
